@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
font-family: "Inconsolata", monospace;
:root{
    border: 1px dotted green;
    /* Colores de la marca PapaJhon's */
    --rojito: #ff0017;
    --white: #ffffff;
    --verdeosc: #006d56;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FF0017;

}

h1{
background-color: #006D56;
color: #FFFFFF;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
padding: 20px;
}

p.intro{
    font-size: 2rem;
    color: #FFFFFF
}

.logo {
    margin: 0 auto;
    width: 20;
    text-align: center;
}

.logo img{
    width: 300px;
}